body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-group > label{
    text-align: right;
}

.course-container {
    display: inline-block;
    background-color: #f6f6f6;
    padding-top: 15px;
    -moz-border-radius: 15px; 
    border-radius: 15px;
}

.section-container {
    display: inline-block;
    margin: 0 auto;
    float: none;
    background-color: #f6f6f6;
    padding-top: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 80%;
    max-width: 800px;
}

.attribute-input {
    float: none;
}
