@model StudentEnrollment.Models.Term

@{
    ViewBag.Title = "CreateTerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTerm</h2>


    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Term</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form action="@Url.Action("CreateTermSubmit", "Admin")" method="post">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="start-date">Term Code</label>
                    <input type="text" value="" />
                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label for="start-date">Start Date</label>
                        <input id="start-date" type="date" value="" />
                    </div>
                </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="end-date">End Date</label>
                    <input type="date" value="" />
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="submit" value="Submit" class="btn btn-default" />
            </div>
                    
        </form>    
    </div>


<div>
    @Html.ActionLink("Cancel Creation - Return Home", "Index")
</div>
