
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator Home - Welcome Back</h2>

<h3>Please Select the Desired Action Below</h3>

<div>
    @Html.ActionLink("Create Term", "CreateTerm")
</div>

<div>
    @Html.ActionLink("Create Course", "CreateCourse")
</div>

<div>
    @Html.ActionLink("Register Student", "RegisterStudent")
</div>