@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This first release allows users to fill out a form to view the results of an API call that references a shared database.</p>
