
@{

    ViewData["Title"] = "Home Page";
    var testInstructor = ViewData["Instructor"] as StudentEnrollment.Models.Instructor;
    var list = ViewData["InstructorList"] as List<StudentEnrollment.Models.Instructor>;
}

<p>Test</p>
@testInstructor.FirstName
@testInstructor.LastName

@foreach(var item in list)
{
    <div>
        @item.FirstName
      
        @item.LastName
    </div>

}



