@{
    ViewData["Title"] = "API Tester";
    var result = ViewData["Result"] as StudentEnrollment.Models.Instructor;
}

<h2>@ViewData["Title"].</h2>
<div>
    <h3>Input:</h3>
    <p>@ViewData["Function"] ( @ViewData["Parameters"] )</p>
</div>
<div>
    <h3>Output:</h3>
    <p>@ViewData["Result"]</p>
</div>