@model StudentEnrollment.Models.Section[]
@*@{
        var sections = ViewData["Sections"] as List<StudentEnrollment.Models.Section>;
        var course = ViewData["Course"] as StudentEnrollment.Models.Course;
    }*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    hello
    </div>
</body>
</html>
